@font-face {
    font-family: 'Radiance Condensed';
    src: url('fonts/Radiance-RegularCondensed.eot');
    src: url('fonts/Radiance-RegularCondensed.eot?#iefix') format('embedded-opentype'), url('fonts/Radiance-RegularCondensed.woff2') format('woff2'), url('fonts/Radiance-RegularCondensed.woff') format('woff'), url('fonts/Radiance-RegularCondensed.ttf') format('truetype'), url('fonts/Radiance-RegularCondensed.svg#Radiance-RegularCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Black.eot');
    src: url('fonts/Radiance-Black.eot?#iefix') format('embedded-opentype'), url('fonts/Radiance-Black.woff2') format('woff2'), url('fonts/Radiance-Black.woff') format('woff'), url('fonts/Radiance-Black.ttf') format('truetype'), url('fonts/Radiance-Black.svg#Radiance-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Bold.eot');
    src: url('fonts/Radiance-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Radiance-Bold.woff2') format('woff2'), url('fonts/Radiance-Bold.woff') format('woff'), url('fonts/Radiance-Bold.ttf') format('truetype'), url('fonts/Radiance-Bold.svg#Radiance-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Light.eot');
    src: url('fonts/Radiance-Light.eot?#iefix') format('embedded-opentype'), url('fonts/Radiance-Light.woff2') format('woff2'), url('fonts/Radiance-Light.woff') format('woff'), url('fonts/Radiance-Light.ttf') format('truetype'), url('fonts/Radiance-Light.svg#Radiance-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Regular.eot');
    src: url('fonts/Radiance-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Radiance-Regular.woff2') format('woff2'), url('fonts/Radiance-Regular.woff') format('woff'), url('fonts/Radiance-Regular.ttf') format('truetype'), url('fonts/Radiance-Regular.svg#Radiance-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-UltraLight.eot');
    src: url('fonts/Radiance-UltraLight.eot?#iefix') format('embedded-opentype'), url('fonts/Radiance-UltraLight.woff2') format('woff2'), url('fonts/Radiance-UltraLight.woff') format('woff'), url('fonts/Radiance-UltraLight.ttf') format('truetype'), url('fonts/Radiance-UltraLight.svg#Radiance-UltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Semibold.eot');
    src: url('fonts/Radiance-Semibold.eot?#iefix') format('embedded-opentype'), url('fonts/Radiance-Semibold.woff2') format('woff2'), url('fonts/Radiance-Semibold.woff') format('woff'), url('fonts/Radiance-Semibold.ttf') format('truetype'), url('fonts/Radiance-Semibold.svg#Radiance-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Artifact Numbers';
    src: url('fonts/ArtifactNumbersBold.eot');
    src: url('fonts/ArtifactNumbersBold.eot?#iefix') format('embedded-opentype'), url('fonts/ArtifactNumbersBold.woff2') format('woff2'), url('fonts/ArtifactNumbersBold.woff') format('woff'), url('fonts/ArtifactNumbersBold.ttf') format('truetype'), url('fonts/ArtifactNumbersBold.svg#ArtifactNumbersBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    /* GAME */
    --black: #171717;
    --white: #e5e5e5;
    --gold: #AD862B;
    --dwhite: #B2ABA3;
    /* Card Colors */
    --cardblue: -webkit-linear-gradient(90deg, #0d3855, #205579);
    --cardred: -webkit-linear-gradient(90deg, #541a27, #84293C);
    --cardgreen: -webkit-linear-gradient(90deg, #38542b, #527b3f);
    --cardblack: -webkit-linear-gradient(90deg, #2c2733, #332d3b);
    --cardgold: -webkit-linear-gradient(90deg, #907024, #AD862B);
    /*Item Cards*/
    --creepgray: -webkit-linear-gradient(90deg, #4d5453, #67716f);
    /* Also Colorless */
    --creepblue: -webkit-linear-gradient(90deg, #434d54, #5a6770);
    --creepred: -webkit-linear-gradient(90deg, #544347, #705a5f);
    --creepgreen: -webkit-linear-gradient(90deg, #495443, #61705a);
    --creepblack: -webkit-linear-gradient(90deg, #4b4354, #635a70);
}

* {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    margin: unset;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    /* custom */
    background-color: var(--black);
    color: var(--white);
    font-family: 'Radiance';
}

/* SCREEN */
Gwindow {
    aspect-ratio: 16 / 9;
    display: block;
    margin: auto;
    cursor: url("main/cursor.png"), auto;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;

    max-width: 100%;
    max-height: 100%;
    /* SPECIFIC */
    height: 100%;
    width: auto;


    background-color: rgb(28, 65, 214);

}

Mbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    animation-timing-function: ease-in-out;
    animation-duration: .2s;
    background: linear-gradient(#2A7C8D, #383E73);
    color: #C2D3E7;
    user-select: none;
}

Mbutton:disabled {
    background-color: #1F1A2F;
    color: #756D91;
}

Mbutton:hover {
    text-shadow: 1px 1px 10px #ccc;
}

Mbutton:active {
    transform: scale(.97);
}

Mlabel {
    display: block;
}

@media (max-aspect-ratio: 16/9) {
    Gwindow {
        width: 100%;
        height: auto;
    }
}