@font-face {
    font-family: 'Radiance Condensed';
    src: url('fonts/Radiance-RegularCondensed.eot');
    src: url('fonts/Radiance-RegularCondensed.eot?#iefix') format('embedded-opentype'), url('fonts/Radiance-RegularCondensed.woff2') format('woff2'), url('fonts/Radiance-RegularCondensed.woff') format('woff'), url('fonts/Radiance-RegularCondensed.ttf') format('truetype'), url('fonts/Radiance-RegularCondensed.svg#Radiance-RegularCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Black.eot');
    src: url('fonts/Radiance-Black.eot?#iefix') format('embedded-opentype'), url('fonts/Radiance-Black.woff2') format('woff2'), url('fonts/Radiance-Black.woff') format('woff'), url('fonts/Radiance-Black.ttf') format('truetype'), url('fonts/Radiance-Black.svg#Radiance-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Bold.eot');
    src: url('fonts/Radiance-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Radiance-Bold.woff2') format('woff2'), url('fonts/Radiance-Bold.woff') format('woff'), url('fonts/Radiance-Bold.ttf') format('truetype'), url('fonts/Radiance-Bold.svg#Radiance-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Light.eot');
    src: url('fonts/Radiance-Light.eot?#iefix') format('embedded-opentype'), url('fonts/Radiance-Light.woff2') format('woff2'), url('fonts/Radiance-Light.woff') format('woff'), url('fonts/Radiance-Light.ttf') format('truetype'), url('fonts/Radiance-Light.svg#Radiance-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Regular.eot');
    src: url('fonts/Radiance-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Radiance-Regular.woff2') format('woff2'), url('fonts/Radiance-Regular.woff') format('woff'), url('fonts/Radiance-Regular.ttf') format('truetype'), url('fonts/Radiance-Regular.svg#Radiance-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-UltraLight.eot');
    src: url('fonts/Radiance-UltraLight.eot?#iefix') format('embedded-opentype'), url('fonts/Radiance-UltraLight.woff2') format('woff2'), url('fonts/Radiance-UltraLight.woff') format('woff'), url('fonts/Radiance-UltraLight.ttf') format('truetype'), url('fonts/Radiance-UltraLight.svg#Radiance-UltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Semibold.eot');
    src: url('fonts/Radiance-Semibold.eot?#iefix') format('embedded-opentype'), url('fonts/Radiance-Semibold.woff2') format('woff2'), url('fonts/Radiance-Semibold.woff') format('woff'), url('fonts/Radiance-Semibold.ttf') format('truetype'), url('fonts/Radiance-Semibold.svg#Radiance-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Artifact Numbers';
    src: url('fonts/ArtifactNumbersBold.eot');
    src: url('fonts/ArtifactNumbersBold.eot?#iefix') format('embedded-opentype'), url('fonts/ArtifactNumbersBold.woff2') format('woff2'), url('fonts/ArtifactNumbersBold.woff') format('woff'), url('fonts/ArtifactNumbersBold.ttf') format('truetype'), url('fonts/ArtifactNumbersBold.svg#ArtifactNumbersBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    /*Colors */
    --black: #171717;
    --white: #e5e5e5;
    --gold: #AD862B;
    --dwhite: #B2ABA3;
    /* Card Colors */
    --cardblue: -webkit-linear-gradient(90deg, #0d3855, #205579);
    --cardred: -webkit-linear-gradient(90deg, #541a27, #84293C);
    --cardgreen: -webkit-linear-gradient(90deg, #38542b, #527b3f);
    --cardblack: -webkit-linear-gradient(90deg, #2c2733, #332d3b);
    --cardgold: -webkit-linear-gradient(90deg, #907024, #AD862B);
    /*Item Cards*/
    --creepgray: -webkit-linear-gradient(90deg, #4d5453, #67716f);
    /* Also Colorless */
    --creepblue: -webkit-linear-gradient(90deg, #434d54, #5a6770);
    --creepred: -webkit-linear-gradient(90deg, #544347, #705a5f);
    --creepgreen: -webkit-linear-gradient(90deg, #495443, #61705a);
    --creepblack: -webkit-linear-gradient(90deg, #4b4354, #635a70);
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

body {
    margin: unset;
    background-color: var(--black);
    color: var(--white);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Radiance';
    cursor: url("gfx/cursor.png"), auto;
}

.base,
.miniicon,
.manaicon,
.cardart,
.ability,
.var,
.cardbot.spell,
.player0 .hcard,
.heroicon {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.base {
    background-image: url(gfx/artifactboard.jpg);
    margin: auto;
    overflow: hidden;
}

.barcont {
    position: relative;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player0 {
    height: calc((100%/9)*2.2);
}

.player1 {
    height: calc((100%/9)*2.5);
}

.bararea {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.player0 .bararea {
    flex: 1;
}

.player1 .bararea:nth-child(1) {
    flex: 2.4;
}

.player1 .bararea:nth-child(2) {
    flex: 3;
}

.bararea .barrow:nth-child(1),
.bararea .barrow:nth-child(3) {
    flex: 1;
}

.bararea .barrow:nth-child(2) {
    flex: 3.9;
}

.towers {
    padding: 1vmin 5vmin 1vmin;
    display: flex;
    justify-content: space-between;
}

.tower {
    width: 8%;
    border-radius: 12% / 50%;
    border: .8vmin solid var(--dwhite);
    background-color: var(--black);
    box-shadow: -.6vmin -1.2vmin .7vmin var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Artifact Numbers';
    text-align: center;
    font-size: 5vmin;
}

.board {
    height: calc((100%/9)*4.3);
    display: flex;
    flex-direction: row;
}

.combat {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 1vmin 0;
}

.combat.c2 {
    border-left: solid var(--gold);
    border-right: solid var(--gold);
    border-width: .8vmin;
}

.direction {
    flex: .2;
}

.side {
    flex: 1;
    display: flex;
    padding: 1.2vmin 1vmin 1.2vmin;
    gap: 1vmin;
}

.side.p0 {
    flex-direction: column;
}

.side.p1 {
    flex-direction: column-reverse;
}

.timps {
    flex: 1;
}

.bcards {
    display: flex;
    flex-direction: row;
    gap: 1.5vmin;
    flex: 2.5;
}

.bcard,
.hcard {
    border-radius: .4vmin;
    display: flex;
    flex-direction: column;
    background: var(--cardblue);
}

.bcard {
    box-shadow: -.3vmin -.4vmin .5vmin var(--black);
    flex: 1;
}

.cardtop {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: .3vmin;
    white-space: nowrap;
}

.manaicon {
    background-image: url(gfx/mana_bg_small.png);
    margin-top: -.4vmin;
    margin-bottom: -.4vmin;
    z-index: 0;
    font-family: 'Artifact Numbers';
    font-size: 2.2vmin;
    margin-left: .6vmin;
}

.heroicon {
    background-image: url(card_art/hero_icons/10006.png);
    margin: 3%;
}

.manaicon,
.heroicon {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cname {
    flex: 5;
    font-family: Radiance Condensed;
    font-size: 1.3vmin;
    padding: .2vmin;
}

.cardart {
    flex: 9;
    background-image: url(card_art/full_art/10006.png);
    padding: 1vmin .5vmin 1vmin;
    display: flex;
    flex-direction: column;
    gap: .2vmin;
}

.cardef {
    flex: 1;
}

.cardmid {
    flex: 2;
}

.abilities {
    flex: .98;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: .25vmin;
}

.ability {
    flex: 1;
    background-image: url(card_art/mini_icons/10489.png);
    border: .2vmin solid gray;
}

.cardbot {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vmin;
}

.cardbot.spell {
    flex: 8;
    background-image: url(gfx/cardspell_opaque.png);
    margin-bottom: 1vmin;
}

.var {
    flex: 1;
    margin: -.6vmin;
    font-family: 'Artifact Numbers';
    font-size: 1.8vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: .2vmin;
}

.hcard .cardbot {
    gap: 0;
}

.hcard .var {
    margin: 0;
    margin-top: -1vmin;
    margin-bottom: .2vmin;
}

.cardat {
    background-image: url(gfx/cardstat_attack.png);
}

.cardar {
    background-image: url(gfx/cardstat_armor.png);
}

.cardhe {
    background-image: url(gfx/cardstat_health.png);
}

.hcards {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.player1 .hcards {
    margin-top: 5%;
}

.player0 .hcard {
    margin: -7% -1% 0;
    background-image: url(gfx/card_back.png);
}

.hcard {
    margin: 0 -1% -12%;
    box-shadow: -.2vmin -.3vmin .5vmin var(--black);
    transition: .05s;
    z-index: 0;
    width: 11%;
}

.player1 .hcard:hover,
.player1 .hcard:active {
    transform: translateY(-70%);
    z-index: 1;
}

@media (min-aspect-ratio: 16/9) {
    .base {
        width: 172.8vh;
        height: 97.2vh;
    }
}

@media (max-aspect-ratio: 16/9) {
    .base {
        width: 96vw;
        height: 54vw;
    }
}

@supports (-webkit-touch-callout: none) {
    @media (min-aspect-ratio: 16/9) {
        .base {
            width: 152vh;
            height: 90vh;
        }
    }
}