.base,
.miniicon,
.manaicon,
.cardart,
.ability,
.var,
.cardbot.spell,
.player0 .hcard,
.heroicon {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.base {
    background-image: url(gfx/artifactboard.jpg);
    margin: auto;
    overflow: hidden;
}

.barcont {
    position: relative;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player0 {
    height: calc((100%/9)*2.2);
}

.player1 {
    height: calc((100%/9)*2.5);
}

.bararea {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.player0 .bararea {
    flex: 1;
}

.player1 .bararea:nth-child(1) {
    flex: 2.4;
}

.player1 .bararea:nth-child(2) {
    flex: 3;
}

.bararea .barrow:nth-child(1),
.bararea .barrow:nth-child(3) {
    flex: 1;
}

.bararea .barrow:nth-child(2) {
    flex: 3.9;
}

.towers {
    padding: 1vmin 5vmin 1vmin;
    display: flex;
    justify-content: space-between;
}

.tower {
    width: 8%;
    border-radius: 12% / 50%;
    border: .8vmin solid var(--dwhite);
    background-color: var(--black);
    box-shadow: -.6vmin -1.2vmin .7vmin var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Artifact Numbers';
    text-align: center;
    font-size: 5vmin;
}

.board {
    height: calc((100%/9)*4.3);
    display: flex;
    flex-direction: row;
}

.combat {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 1vmin 0;
}

.combat.c2 {
    border-left: solid var(--gold);
    border-right: solid var(--gold);
    border-width: .8vmin;
}

.direction {
    flex: .2;
}

.side {
    flex: 1;
    display: flex;
    padding: 1.2vmin 1vmin 1.2vmin;
    gap: 1vmin;
}

.side.p0 {
    flex-direction: column;
}

.side.p1 {
    flex-direction: column-reverse;
}

.timps {
    flex: 1;
}

.bcards {
    display: flex;
    flex-direction: row;
    gap: 1.5vmin;
    flex: 2.5;
}

.bcard,
.hcard {
    border-radius: .4vmin;
    display: flex;
    flex-direction: column;
    background: var(--cardblue);
}

.bcard {
    box-shadow: -.3vmin -.4vmin .5vmin var(--black);
    flex: 1;
}

.cardtop {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: .3vmin;
    white-space: nowrap;
}

.manaicon {
    background-image: url(gfx/mana_bg_small.png);
    margin-top: -.4vmin;
    margin-bottom: -.4vmin;
    z-index: 0;
    font-family: 'Artifact Numbers';
    font-size: 2.2vmin;
    margin-left: .6vmin;
}

.heroicon {
    background-image: url(card_art/hero_icons/10006.png);
    margin: 3%;
}

.manaicon,
.heroicon {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cname {
    flex: 5;
    font-family: Radiance Condensed;
    font-size: 1.3vmin;
    padding: .2vmin;
}

.cardart {
    flex: 9;
    background-image: url(card_art/full_art/10006.png);
    padding: 1vmin .5vmin 1vmin;
    display: flex;
    flex-direction: column;
    gap: .2vmin;
}

.cardef {
    flex: 1;
}

.cardmid {
    flex: 2;
}

.abilities {
    flex: .98;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: .25vmin;
}

.ability {
    flex: 1;
    background-image: url(card_art/mini_icons/10489.png);
    border: .2vmin solid gray;
}

.cardbot {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vmin;
}

.cardbot.spell {
    flex: 8;
    background-image: url(gfx/cardspell_opaque.png);
    margin-bottom: 1vmin;
}

.var {
    flex: 1;
    margin: -.6vmin;
    font-family: 'Artifact Numbers';
    font-size: 1.8vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: .2vmin;
}

.hcard .cardbot {
    gap: 0;
}

.hcard .var {
    margin: 0;
    margin-top: -1vmin;
    margin-bottom: .2vmin;
}

.cardat {
    background-image: url(gfx/cardstat_attack.png);
}

.cardar {
    background-image: url(gfx/cardstat_armor.png);
}

.cardhe {
    background-image: url(gfx/cardstat_health.png);
}

.hcards {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.player1 .hcards {
    margin-top: 5%;
}

.player0 .hcard {
    margin: -7% -1% 0;
    background-image: url(gfx/card_back.png);
}

.hcard {
    margin: 0 -1% -12%;
    box-shadow: -.2vmin -.3vmin .5vmin var(--black);
    transition: .05s;
    z-index: 0;
    width: 11%;
}

.player1 .hcard:hover,
.player1 .hcard:active {
    transform: translateY(-70%);
    z-index: 1;
}

@media (min-aspect-ratio: 16/9) {
    .base {
        width: 172.8vh;
        height: 97.2vh;
    }
}

@media (max-aspect-ratio: 16/9) {
    .base {
        width: 96vw;
        height: 54vw;
    }
}

@supports (-webkit-touch-callout: none) {
    @media (min-aspect-ratio: 16/9) {
        .base {
            width: 152vh;
            height: 90vh;
        }
    }
}